In [12]:
 #Range

In [13]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [14]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
list (range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [17]:
for num in range (3,10):
    print (num)

3
4
5
6
7
8
9

In [18]:
for num in range(0,11,2):
    print (num)

0
2
4
6
8
10

In [19]:
#enumerate

In [20]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [21]:
word = 'abcde'
for index,letter in enumerate (word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [22]:
type (item)

NameError: name 'item' is not defined

In [ ]:
#zip function

In [ ]:
mylist1 =['a','b','c']
mylist2 =[1,2,3]
for item in zip(mylist1,mylist2):
    print(item)

In [ ]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3]
for l1,l2 in zip(mylist1,mylist2):
    print(l1)
    print(l2)

In [ ]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
list (zip (mylist1,mylist2))

In [ ]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
mylist3 = [11,22,33]
for l1,l2,l3 in zip(mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

In [ ]:
#min,max

In [ ]:
mylist =[10,20,30,40,50,60]
min(mylist)

In [ ]:
max(mylist)

In [ ]:
#random library

In [ ]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8]
shuffle(mylist)
rd1=mylist

In [ ]:
rd1

In [ ]:
from random import randint #random integer
randint(0,10)

In [ ]:
randint(0,100)

In [ ]:
my_num =randint(0,50)

In [ ]:
my_num

In [ ]:
#input

In [23]:
input('enter a number here')

enter a number here20

'20'

In [24]:
int(input('inter your favourite no'))

inter your favourite no25

25

In [25]:
result =int(input('inter your favourite no'))

inter your favourite no12

In [26]:
result

12

In [27]:
type(result)

int

In [29]:
number=float(input('enter 1st number'))
number_two=float(input('enter 2nd number'))
result=number+number_two
print (result)

enter 1st number22
enter 2nd number20
42.0

In [30]:
type (result)

float

In [31]:
length=float(input('enter the length'))
width=float(input('enter the width'))
area=length*width
print('area of rectangle =',area)

enter the length300
enter the width310
area of rectangle = 93000.0

In [32]:
type (area)

float

In [33]:
#list comprehensions in python

In [34]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [35]:
mylist

['h', 'e', 'l', 'l', 'o']

In [36]:
mystring = 'hello'
mylist =[letter for letter in mystring]

In [37]:
mylist

['h', 'e', 'l', 'l', 'o']

In [38]:
word ='hello'
mylist=[x for x in word]

In [39]:
mylist

['h', 'e', 'l', 'l', 'o']

In [42]:
mylists =[x for x in 'april and may']

In [43]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [46]:
mynum =[num**2 for num in range(0,11)]

In [47]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
myeven=[x**2 for x in range (0,11) if x%2==0]

In [49]:
myeven

[0, 4, 16, 36, 64, 100]

In [51]:
celcius = [0,10,20,30,50,34.5]
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [52]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [54]:
results =[x if x%2 == 0 else 'OOD' for x in range(0,10)]

In [55]:
results

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD']

In [56]:
#nested loop

In [57]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append (x*y)

In [58]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [59]:
mynest =[x*y for x in [2,4,6] for y in [1,10,1000]]

In [60]:
mynest

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]